.bcontainer{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px 5rem;
    grid-auto-flow: row;
    max-height: 50%;
}
.bimg{
    justify-self: end; 
    align-self: stretch; 
    
    grid-area: 1 / 1 / 3 / 2;

}

.binfo{
    justify-self:start;
    align-self: center;
    grid-area: 1 / 2 / 3 / 3;
}

.book-img{
    width: 25em;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.5s all ease-in-out;
    
}
.book-img:hover{
    transform: scale(1.1);
}
.card{
    background: #FDFDFD;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about{
    text-align: left !important;
    justify-self: center; 
    align-self: center; 
    grid-area: 1 / 1 / 2 / 2; 
}

.icontainer {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    width: 60%; 
    height: 50%; 
    margin: 2em auto;
  }
  .divide{
      margin-top: 3em;
      width: 80%;
  }
.ccontainer{
    width: 60%;
    
    margin: 2em auto;
}
.commentbtn{
    float: right;
    margin-top: 2%;
}

.commentsect{
    margin-top: 3em;
}