footer{
    
    background-color:#4b4c4d;
    color:#ffffff;
    position:relative;
    
    left: 0;
    bottom: 0;
    width: 100%;
  
    
    text-align: center;
    padding-top: 1%;

}
footer a{
    color:#ffffff !important; 
}

.fa {
    text-decoration: none !important;
}