.fcontainer{

    transform: translateY(20%);
    min-height: 61vh;
    position: relative;

    text-align: center;

}




.form-group{
    
    
    clear: center;
    margin-bottom: 1%;
    text-align: center;
}
