{% extends "base.html" %}
{% block title%}Checkout{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cartStyle.css') }}">

<div class="finContainer jumbotron">
	<h2 class="totaldisplay">Total: {{ "$%.2f"|format(total) }}</h2>
	<h5 class="article-content mode">Payment Method: Cash On Delivery</h5>

	<h6 >{{ current_user.first_name }} {{ current_user.last_name }}</h6>
	<h6 class="text-secondary">{{ current_user.email }}</h6>

	<h6 class="text-secondary">{{ current_user.address }}</h6>
	<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('auth.account') }}">Edit Info</a>
	<div class="btnoptions">
	<a class="btn btn-danger btn-lg "  href="{{ url_for('auth.cancel') }}">Cancel</a>
	<a class="btn btn-success btn-lg mt-1 mb-1" href="{{ url_for('auth.confirm') }}">Confirm</a>


	</div>
	
</div>




	<div class="cartContainer" style="padding-bottom: 2em;">
		{% for cart in carts %}
		<hr style="width:100%">
		<div class="media content-section cartitem">
			
			<img src="{{ url_for('static', filename='Book_Image/' + cart.cartbook.image_file) }}" style='height: 10%; width: 10%; object-fit: contain'>
          <div class="media-body">
            <div class="article-metadata">
              <h3 class="book-title">{{ cart.cartbook.title }}</h3>
              <small class="text-muted">{{ cart.cartbook.author }}</small>
            </div>
            <p class="article-content">${{ cart.cartbook.price }}</p>
          </div>

		</div>
		
		{% endfor %}

	</div>

{% endblock content %}