{% extends 'base.html' %}
{% set active_page = "menu1" %}

{% block title%}Home{% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='scripts/shopfilter.js') }}"></script>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 fw-normal">Books and Mugs</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>


</div>




<div class="scontainer">

{% for book in books %}

        <div class="card content-section h-100">
          <a class="mr-2" href="{{ url_for('views.book_info', book_id=book.id) }}">
          <img class="card-img-top h-60" src="{{ url_for('static', filename='Book_Image/' + book.image_file) }}">
          <div class="card-body">
            
              <h5>{{ book.title }}</h5>
              <hr style="width:50%">
              <small class="text-muted">{{ book.author }}</small>
            
            <h6>${{ book.price }}</h6>
          </div>
        </a>
        </div>

{% endfor %}
</div>


{% include 'footer.html' %}



{% endblock %}
