{% extends "base.html" %}
{% block title%}Orders{% endblock %}
{% set active_page = "menu5" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">
	{% if not orders %}
	<div class="empty-cart">
		
		<h3>You don't have any orders</h3>
		<br>
		<img class="cartimg w-50 h-50" src="{{ url_for('static', filename='images/emptybox.png') }}">	
		
	</div>
	{% else %}
		<div class="content-section">
			<h2 class="article-title"><center>My Orders</h2>
		</div>
		<div class="content-section">
			<div class="row d-flex mb-5 contact-info">
				<div class="col-md-3 d-flex">
					<div class="info bg-white p-4">
						<h4 class="book-title">Username</h4>
					</div>
				</div>
				<div class="col-md-3 d-flex">
					<div class="info bg-white p-4">
						<h4 class="book-title">Order Date</h4>
					</div>
				</div>
				<div class="col-md-3 d-flex">
					<div class="info bg-white p-4">
						<h4 class="book-title">Amount</h4>
					</div>
				</div>
				<div class="col-md-3 d-flex">
					<div class="info bg-white p-4">
						<h4 class="book-title">Receipt</h4>
					</div>
				</div>
			</div>
			{% for order in orders %}
				<div class="content-section">
					<div class="row d-flex mb-5 contact-info">
						<div class="col-md-3 d-flex">
							<div class="info bg-white p-4">
								<h4>{{ current_user.first_name }}</h4>
							</div>
						</div>
						<div class="col-md-3 d-flex">
							<div class="info bg-white p-4">
								<h4>{{ order.order_date.strftime('%Y-%m-%d') }}</h4>
							</div>
						</div>
						<div class="col-md-3 d-flex">
							<div class="info bg-white p-4">
								<h4>${{ order.amount }}</h4>
							</div>
						</div>
						<div class="col-md-3 d-flex">
							<a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('auth.receipt',order_id=order.id) }}" style="color: #fff;
                            background-color: #17a2b8;
                            border-color: #17a2b8;
                            width: 150px;
                            height: 60px;
                            position: absolute;
                            padding-left: 20px;
                            padding-right: 20px;">Receipt</a>
						</div>
					</div>
				</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock content %}